<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="DBType" value="SQL"/>
		<add key="DBEncry" value="0"/>
		<add key="TechnicalSupport" value="http://www.shuokecc.com"/>
	</appSettings>
	<connectionStrings>	
		<add name="SKConnection" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=dhy_new;user id=sa;password=Sa123456;MultipleActiveResultSets=true;Enlist=true;Pooling=true;Max Pool Size=30000;Min Pool Size=0;Connection Lifetime=300;packet size=1000" providerName="System.Data.SqlClient"  />
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<httpRuntime maxRequestLength="999960" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" requestValidationMode="2.0"/>		
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<!--<authentication mode="Forms">
			<forms name="shuokecc" loginUrl="login.aspx" defaultUrl="default.aspx" protection="All" path="/" timeout="36000"/>
		</authentication>-->

	</system.web>
	<location path="login.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="style">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
	<location path="img">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
	<location path="dll">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="errorfile">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
